* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

.Tictactoe__resetBtn {
  margin-top: 0.5em;
  width: 7em;
  height: calc(6vh - 14px);
  max-height: 4em;
  min-height: 2em;
  font-size: 14px;
  border-radius: 0.25em;
}

.Tictactoe__header {
  display: inline-block;
  padding: 1em;
  transform: translateY(-25%);
  height: calc(7vh - 1em);
  font-size: calc(1em + 2vh);
}

.Tictactoe__table-wrapper {
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  height: 80vh;
  overflow: auto;
}

.Tictactoe__table {
  table-layout: fixed;
  margin: auto;
  width: max-content;
  border-collapse: collapse;
  border: solid 1px black;
}
.Tictactoe__cell {
  font-size: calc(2.5rem - calc(1.5rem - 2vh));
  width: 2em;
  height: 2em;
  border: solid black 1px;
  text-align: center;
  font-family: Helvetica;
}
.Tictactoe__cell[data-mark="x"] {
  background-color: rgb(78, 155, 0);
}
.Tictactoe__cell[data-mark="o"] {
  background-color: rgba(221, 63, 45, 0.625);
}

.Tictactoe__progressbar-wrapper {
  box-sizing: content-box;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh;
  border: 1px solid black;
  height: 1vh;
  border-radius: 1vh;
  max-height: 20px;
  overflow: hidden;
}
.Tictactoe__progressbar-progress {
  height: 1vh;
  max-height: 20px;
}
.Tictactoe__progressbar-progress[data-player="x"] {
  background-color: rgb(78, 155, 0);
}
.Tictactoe__progressbar-progress[data-player="o"] {
  background-color: rgba(221, 63, 45, 0.625);
}
